<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirurgia - HOSPITAL_MED</title>
</head>
<body>
    <h1>Cadastro de Cirurgia - HOSPITAL_MED</h1>

    <form action="/cirurgias" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" placeholder="Nome do Paciente" required>
    <label for="tipo_cirurgia">Cirurgia</label>
    <input type="text" name="tipo_cirurgia" placeholder="Tipo da Cirurgia" required>
    <label for="data_cirurgia">Data</label>
    <input type="text" name="data_cirurgia" placeholder="Data da Cirurgia" required>
    <button type="submit">Cadastrar</button>
    </form>

    <a href="/">Voltar</a>

</body>
</html>